.vscode
.git

CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile

myengine/CMakeCache.txt
myengine/CMakeFiles/*
myengine/cmake_install.cmake
myengine/Makefile

myengine/libmyengine.so
sdlgame

*.dll
*.dll.a
*.exe

index.*